    <div class="control-group">
        <label class="control-label" for="bookmarkURLInput">书签网址</label>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on">http://</span>
                <input type="text" id="bookmarkURLInput" name="url" placeholder="书签网址，例如：www.example.com" />
            </div>
            {% if bookmark %}
            <input type="hidden" name="id" value="{{ bookmark.id }}" />
            {% endif %}
            {% if error['url'] %}
            <span class="help-inline text-error">{{ error['url'] }}</span>
            {% endif %}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="bookmarktags"></label>
        <div class="controls">
            <input type="text" id="bookmarktags" name="tags" placeholder="标签间用空格分隔">
            {% if error['tags'] %}
            <span class="help-inline text-error">{{ error['tags'] }}</span>
            {% endif %}
        </div>
    </div>
     
    <div class="control-group">
        <label class="control-label" for="bookmarktitle"></label>
        <div class="controls">
            <textarea type="text" id="bookmarktitle" name="title"></textarea>
            {% if error['title'] %}
            <span class="help-inline text-error">{{ error['title'] }}</span>
            {% endif %}
        </div>
    </div>