    <div class="control-group">
        <label class="control-label" for="bookmarkURLInput">网址</label>
        <div class="controls">
            <!--<div class="input-prepend span7">-->
                <input type="text" id="bookmarkURLInput" class="span7" name="url" placeholder="书签网址，例如：www.example.com" 
                {% if form['url'] %}value="{{ form['url'] }}"{% elif bookmark.url %}value="{{ bookmark.url }}"{% endif %}
                data-protocol="http://" />
            <!--</div>-->
            {% if bookmark %}
            <input type="hidden" name="id" value="{{ bookmark.id }}" />
            {% endif %}
            {% if error['url'] %}
            <span class="help-inline text-error">{{ error['url'] }}</span>
            {% endif %}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="bookmarktags">标签</label>
        <div class="controls">
            <input type="text" id="bookmarktags" class="span7" name="tags" placeholder="标签间用空格分隔" 
            {% if form['tags'] %}value="{{ form['tags'] }}"{% elif bookmark.tags %}value="{{ bookmark.tags }}"{% endif %}/>
            {% if error['tags'] %}
            <span class="help-inline text-error">{{ error['tags'] }}</span>
            {% endif %}
        </div>
    </div>
     
    <div class="control-group">
        <label class="control-label" for="bookmarktitle">描述</label>
        <div class="controls">
            <textarea type="text" id="bookmarktitle" class="span7" 
             name="title">{% if form['title'] %}{{ form['title'] }}{% elif bookmark.title %}{{ bookmark.title }}{% endif %}</textarea>
            {% if error['title'] %}
            <span class="help-inline text-error">{{ error['title'] }}</span>
            {% endif %}
        </div>
    </div>
    
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary" type="submit">提交</button>
        </div>
    </div>
