{% extends "base.html" %}

{% block sidebar_right %}
		<div class="btn-group btn-group-vertical" id="zoomcontrol">
            <button type="button" class="btn" id="zoomin"><i class="icon-plus"></i></button>
            <button type="button" class="btn" id="zoomout"><i class="icon-minus"></i></button>
        </div>
        
    {% with messages = get_flashed_messages(with_categories=true, category_filter=["success",]) %}
	    {% if messages %}
	        {% for category, message in messages %}
	    	<div class="alert alert-{{ category }}">
	    		<button type="button" class="close" data-dismiss="alert">&times;</button>
	    		<p>{{ message }}</p>
	    	</div>
	    	{% endfor %}
	    {% endif %}
    {% endwith %}
    
{% endblock %}

{% block content %}
	<ul class="thumbnails">
	    {% for bookmark in bookmarks %}
    	    {# should pass bookmark and user objects into bookmark_meta.html #}
	        {% include "includes/bookmark_meta.html" ignore missing with context %}
	    {% endfor %}
	</ul>

  	{% include "includes/pagination.html" %}
{% endblock %}
