<!doctype>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Bookmarks</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="This is my bookmark site" />
        <meta name="author" content="XiaoWenBin" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
        <![endif]-->
    </head>
    <body>
        <div class="btn-group btn-group-vertical" id="zoomcontrol">
            <button type="button" class="btn" id="zoomin"><i class="icon-plus"></i></button>
            <button type="button" class="btn" id="zoomout"><i class="icon-minus"></i></button>
        </div>
        <div id="wrap"><!-- wrap all page content except for footer -->
            
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="page-header">
                        <h1 class="muted"><a href="/">Bookmarks</a></h1>
                        <button class="btn btn-large btn-success" id="addBookmarkBtn">添加书签</buttom>
                    </div>

                    <ul class="thumbnails">
                        {% for bookmark in bookmarks %}
                        <li class="span4">
                            <div class="thumbnail">
                                <a href="{{ bookmark.url }}" title="{{ bookmark.url }}">
                                    <img src="{{ bookmark.image }}" />
                                </a>
                                <div class="caption">
                                    <p>
                                    {% if bookmark.title %}
                                    {{ bookmark.title }}
                                    {% else %}
                                    <a href="{{ bookmark.url }}">{{ bookmark.url }}</a>
                                    {% endif %}
                                    </p>
                                    <p class="muted">{{ bookmark.created_date.strftime("%Y-%m-%d %H:%M") }}</p>
                                    <p><a href="{{ bookmark.url }}" class="btn btn-primary">Go</a></p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>

                    <div class="pagination pagination-centered">
                        <ul>
                        {% if page > 1 %}
                            <li><a href="./?page{{ page - 1}}">&laquo;</a></li>
                        {% elif page != 1 %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        
                        {% for index in range(1, total_pages) %}
                            {% if index == page %}
                                <li class="active"><span>{{ index }}</span></li>
                            {% else %}
                                <li><a href="./?page{{ index }}">{{ index }}</a></li>
                            {% endif %}
                        {% endfor %}
                        
                        {% if total_pages > page %}
                            <li><a href="./?page={{ page + 1 }}">&raquo;</a></li>
                        {% elif page != 1 %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}  

                        </ul>
                    </div>

                </div><!-- close div.row -->
                <div id="push"></div><!-- placeholder for footer-->
            </div><!-- close div.container -->
        </div>
        
        <div id="footer">
            <div class="container">
                <p class="muted credit">Author: <a href="http://profile.wikty.com">XiaoWenBin</a>
                <span class="pull-right">Host By <a href="https://www.heroku.com/">Heroku</a></span>
                </p>
            </div>
       </div>
       
    </body>
</html>
